#progress-container {
  font-family: monospace;
  padding: 20px;
  margin: 10px;
}

#progress-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  border-radius: 20px;
  background-color: #007bff72;
  padding: 20px 40px;
}

#show-more-icon {
  cursor: pointer;
}

/* PROGRESS TABLE */
#progress-table-container {
  display: none; /* Hide the table by default */
  padding: 20px;
  margin: 10px;
  background-image: url("/images/background-photo/letters.jpg");
  background-position: center;
  background-size: cover;
}

#progress-table-wrapper {
  display: flex;
  justify-content: center;
}

#progress-table {
  width: 80%;
  height: 40vh;
  border: 1px solid black;
  background-color: white;
}

#progress-table th {
  border: 1px solid black;
  padding: 20px;
  height: 10vh;
  text-align: center;
  font-size: 20px;
}

#progress-table td {
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
}
