/* TYPING CONTAINER*/
#typing-container {
  padding: 30px;
  margin: 20px;
  border-radius: 20px;
  font-family: monospace;
}

/* TYPED TEXT */
.typing-text p {
  text-align: start;
  width: 100%;
  border-radius: 20px;
  border: 5px solid #007bff;
  padding: 20px 40px;
  overflow: hidden;
}

#typing-space .typing-text {
  max-height: 330px;
}

.typing-text p {
  font-size: 35px;
  color: grey;
}

.typing-text p span.active {
  color: black;
  font-weight: 550;
}

/* hide input field */
#typing-container #input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

/* correct and incorrect char */
.typing-text p span.correct {
  color: #56964f;
}

.typing-text p span.incorrect {
  color: #cb3439;
  outline: 1px solid #fff;
  background: #ffc0cb;
  border-radius: 4px;
}

/* underline word */
.typing-text p span.underline {
  text-decoration: underline;
  text-decoration-color: black;
}
