/* HEADER */
.navbar {
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-image: linear-gradient(rgb(51, 114, 153), rgb(255, 255, 255));
}

.navbar a {
  display: flex;
  align-items: center;
}

/* BUTTONS */
#reset-btn {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#start-btn {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#reset-btn:hover {
  background-color: red;
}

#start-btn:hover {
  background-color: green;
}
